<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}"><span class="syn_logo"></span></a>
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Projects</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/commodore/">Commodore</a>
            <a class="navbar-item" href="/lieutenant-api/">Lieutenant API</a>
            <a class="navbar-item" href="/lieutenant-operator/">Lieutenant API</a>
            <a class="navbar-item" href="/steward/">Steward</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            <div class="vshn_logo"></div>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://vshn.ch/en/" target="_blank">VSHN</a>
            <a class="navbar-item" href="https://appuio.ch/" target="_blank">APPUiO</a>
            <a class="navbar-item" href="https://twitter.com/vshn_ch" target="_blank"><i
                class="fa fa-twitter"></i>&nbsp; Twitter</a>
            <a class="navbar-item" href="https://kb.vshn.ch/" target="_blank">Knowledge Base</a>
            <a class="navbar-item" href="https://k8up.io/" target="_blank">K8up</a>
          </div>
        </div>
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search">
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="https://github.com/projectsyn/" target="_blank"><i class="fa fa-github"></i>&nbsp;
            GitHub</a>
        </div>
      </div>
    </div>
  </nav>
</header>